.principal
{
	width: 1460px;
	height: 1560px;
	background-color: #000205;
	

.title
{
width: 1469px;
	height: 150px;
	background-color: #000205 ;
	text-align: center;
	font-size: 100px;
	float: left;
	color:#fcfcfc ;
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}
}

.nav
{
	width: 150px;
	height: 1380px;
	background-color: #000205;
	text-align: center;
	font-size: 20px;
	float: left;
	color:#fcfcfc ;

}
.homepage
{
	color: white;
	text-align: left;
	font-size: 20px;
	margin-top: 50px;
 
}
.homepage1
{
	color:white;
}
.setup
{
	color: white;
	text-align: left;
	font-size: 20px;
	margin-top: 50px;
}
.setup1
{
	color:white;
}


.plants
{
	color: white;
	text-align: left;
	font-size: 20px;
	margin-top: 50px;
}
.plants1
{
	color:white;
}
.fish
{
	color: white;
	text-align: left;
	font-size: 20px;
	margin-top: 50px;
 
}
.fish1
{
	color:white;
}

.line1
{
	width: 1150px;
	height: 500px;
	background-color: hotpink;
	text-align: center;
	font-size: 80px;
	float: left;
}
.box1
{
	width: 575px;
	height: 500px;
	background-color: #000205;
	text-align: left;
	font-size: 24px;
	float: left;
	color: #fcfcfc;;
	font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}


.box2
{
	width: 575px;
	height: 500px;
	background-color: #000205;
	text-align: center;
	font-size: 80px;
	float: left;
	olor: #fcfcfc;;
	font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.V1

{
width: 725px;
height: 500px;
}	

.line2
{
	width: 575px;
	height: 500px;
	background-color: grey;
	text-align: center;
	font-size: 80px;
	float: right;
}

.F1
{
width: 575px;
height: 500px;
}	

.box3
{
	width: 575px;
	height: 500px;
	background-color: green;
	font-size: 80px;
	float: right;
}
